/*
_Page_Dev_Wikitest_CssExtensionFork.css - Test dummy file for the CSS Extension fork tests on Dev/wikitest
See detailed documentation in Dev/mediawiki
*/

#css-extension-fork-test-id0 {
  background: white;
  color: red;
  margin: 10px 0;
}
