.intro-info {
  float: left;
  width: calc(100% - 380px);
}
.paypal-panel {
  float: right;
  width: 360px;
  min-height: 300px;
  margin: 0 0 0 20px !important;
}
.paypal-panel .headline {
  font-size: 22px;
  text-align: center;
  margin: 7px 0;
}
.paypal-nojs-subscription {
  display: inline-block;
}
.paypal-nojs-subscription-form input[type=image] {
  vertical-align: middle;
  position: relative;
  top: -3px;
}
.paypal-nojs-subscription-form select {
  height: 50px;
  margin-right: 10px;
  text-align: center !important;
}
.paypalme-nojs-once a {
  display: inline-block;
  background: #009eff;
  color: white !important;
  border-radius: 8px;
  padding: 6px 18px !important;
  font-size: 20px !important;
}
.paypalme-nojs-once sup {
  display: none;
}
/* Smaller Sizes */
@media (max-width: 630px) {
  .intro-info {
  float: none;
  width: 100%;
  }
  .paypal-panel {
  float: none;
  width: 100%;
  margin-left: 0 !important;
  }
}
